.post-header {
    color: black;
    display: inline-block;
}

.post-header:hover {
    color: grey;
    text-decoration-line: none;
}

.rightButton {
    text-align: right;
    float: right;
}

.subject {
    width: 100%;
}