.post-header {
    color: black;
    display: inline-block;
}

.post-header:hover {
    color: grey;
    text-decoration-line: none;
}

.right {
    text-align: right;
    float: right;
    margin-left: 1em;
}

.subject {
    width: 100%;
}