<div *ngFor="let p of post | async">
    <div class="card">
        <div class="card-header">
            <small class="userDescription">Details about the user who posted this go here</small>
            <h5><a href="forum/{{p.category}}">{{ p.category }}</a> - {{ p.subject }}</h5>
            <label>{{ p.timestamp.toDate() }}</label>
        </div>
        <div class="card-body">
            <p>{{ p.text }}</p>
            <span class="metaText">Last edited: {{ p.lastEdit.toDate() }}</span>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">Reply</button>
        </div>
    </div>
    <div *ngFor="let comment of comments | async">
        <div class="card">
            <div class="card-header">
                <label>{{ comment.timestamp.toDate() }}</label>
                <small class="userDescription">Details about the user who posted this go here</small>
            </div>
            <div class="card-body">
                {{ comment.text }}
                <span class="metaText">Last edited: {{ p.lastEdit.toDate() }}</span>
            </div>
        </div>
    </div>
</div>