.metaText{
    color: grey;
    font-size: 11px;
}

.userDescription {
    float: right;
}

.toast {
    position: fixed;
    top: 100px;
    left: 100px;
}

.toast-header {
    background-color: rgb(140, 236, 140);
}