<div *ngFor="let p of post | async">
    <div class="card">
        <div class="card-header">
            <small class="userDescription">Details about the user who posted this go here</small>
            <h5><a href="forum/{{p.category}}">{{ p.category }}</a> - {{ p.subject }}</h5>
            <label>{{ p.timestamp.toDate() }}</label>
        </div>
        <div class="card-body">
            <p>{{ p.body }}</p>
            <div *ngIf="p.lastEdit">
                <span class="metaText">Last edited: {{ p.lastEdit.toDate() }}</span>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">Reply</button>
            <button class="btn btn-success"
                (click)="showEditForm = true; setSubject(p.subject); setBody(p.body)">Edit</button>
            <button class="btn btn-danger" (click)="deletePost()">Delete</button>
        </div>
    </div>
    <button class="btn btn-primary" (click)="showAddForm = true">Add a comment</button>
    <div *ngIf="showAddForm">
        <h5>Write your new comment</h5>
        <form [formGroup]="addForm" (ngSubmit)="addNewComment()">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label>Body</label>
                    <textarea id="body" class="form-control" type="text" formControlName="body"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <button type="button" style="width: 100%" type="submit" class="btn btn-primary">Post</button>
                </div>
                <div class="col-sm-6 form-group">
                    <button (click)="showAddForm = false" type="button" style="width: 100%" class="btn btn-secondary"
                        data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="showEditForm">
        <h5>Edit your post</h5>
        <form [formGroup]="editForm" (ngSubmit)="editPost()">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label>Subject</label>
                    <input [value]=p.subject id="subject" class="form-control" type="text" formControlName="subject">
                </div>
                <div class="col-sm-12 form-group">
                    <label>Body</label>
                    <textarea [value]=p.body id="body" class="form-control" type="text"
                        formControlName="body"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <button type="button" style="width: 100%" type="submit" class="btn btn-primary">Post</button>
                </div>
                <div class="col-sm-6 form-group">
                    <button (click)="showEditForm = false" type="button" style="width: 100%" class="btn btn-secondary"
                        data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngFor="let comment of comments | async; let i = index">
        <div class="card">
            <div class="card-header">
                <label>{{ comment.timestamp.toDate() }}</label>
                <small class="userDescription">Details about the user who posted this go here</small>
            </div>
            <div class="card-body">
                {{ comment.body }}
                <div *ngIf="comment.lastEdit">
                    <span class="metaText">Last edited: {{ comment.lastEdit.toDate() }}</span>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" (click)="formIndex = i; setBody(comment.body)">Edit</button>
                <button class="btn btn-danger" (click)="deleteComment(comment.timestamp)">Delete</button>
            </div>
        </div>
        <div *ngIf="i == formIndex">
            <h5>Edit your comment</h5>
            <form [formGroup]="addForm" (ngSubmit)="editComment(comment.timestamp)">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label>Body</label>
                        <textarea (click)="setBody(comment.body)" [value]=comment.body id="body" class="form-control"
                            type="text" formControlName="body"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <button type="button" style="width: 100%" type="submit" class="btn btn-primary">Post</button>
                    </div>
                    <div class="col-sm-6 form-group">
                        <button type="button" style="width: 100%" class="btn btn-secondary"
                            (click)="formIndex = -1">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="commentAddedToast" #commentAddedToast data-autohide="false" class="toast" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">Success!</strong>
    </div>
    <div class="toast-body">
        Your comment has been added.
    </div>
</div>
<div id="commentEditedToast" #commentEditedToast data-autohide="false" class="toast" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">Success!</strong>
    </div>
    <div class="toast-body">
        Your comment has been edited.
    </div>
</div>
<div id="commentDeletedToast" #commentDeletedToast data-autohide="false" class="toast" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">Success!</strong>
    </div>
    <div class="toast-body">
        Your comment has been deleted.
    </div>
</div>
<div id="postEditedToast" #postEditedToast data-autohide="false" class="toast" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">Success!</strong>
    </div>
    <div class="toast-body">
        Your comment has been deleted.
    </div>
</div>