h3 {
    text-align: center;
}

.container {
    padding: 1%;
}

.card-header {
    background-color: rgb(46, 43, 38);
}

.addBtns {
    float: right;
    text-align: right;
}

.headers {
    font-size: 20px;
    color: rgb(187, 184, 184);
}