<div class="container">
    <h1 class="jumbotron">{{ dateString }}</h1>
    <div *ngFor="let item of day | async">
        <h6>On this day, you: </h6>
        <p><strong>Burned</strong> {{ item.caloriesBurned }} calories</p>
        <p><strong>Gained</strong> {{ item.caloriesGained }} calories</p>
        <div class="row">
            <div class="card col-sm-6">
                <div class="card-header"><span class="headers">Sessions</span>
                    <button type="button" class="btn btn-primary addBtns">New Activity</button>
                </div>
                <div class="card-body">
                    <ag-grid-angular
                        #sessionGrid
                        id="sessionGrid"
                        style="width: 500px; height: 150px;"
                        class="ag-theme-balham"
                        [rowData]="sessions | async"
                        [columnDefs]="activityColumnDefs"
                        rowSelection="multiple"
                        (cellEditingStopped)="updateSession($event)"
                        (gridReady)="onSessionGridReady($event)">
                    </ag-grid-angular>
                </div>
            </div>
            <div class="card col-sm-6">
                <div class="card-header"><span class="headers">Meals</span>
                    <button type="button" class="btn btn-primary addBtns">New Meal</button>
                </div>
                <div class="card-body">
                    <ag-grid-angular
                        #mealGrid
                        id="mealGrid"
                        style="width: 500px; height: 150px;"
                        class="ag-theme-balham"
                        [rowData]="meals | async"
                        [columnDefs]="mealColumnDefs"
                        rowSelection="multiple"
                        (cellEditingStopped)="updateMeal($event)"
                        (gridReady)="onMealGridReady($event)">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>